/pdata/*
/dist
build
develop-eggs
*.pyc
*.egg
*.egg-info
.DS_Store
downloads
eggs
fake-eggs
parts
.ropeproject
.hg
.bzr
.svn
/include
/bin
/man
/lib
/local
/share
/download-cache
/docs/_build/
!workspaces/
workspaces/*
!workspaces/default/
!workspaces/default/*

# Files
local.ini
*.swp
*.mo
.installed.cfg
*.pyo
*.tmp*
*.mp3
*.db
.coverage
.noseids
ropevim.vim
*.pid
paster.log
*.ipynb
*~
