#ScribeUI

WSGIScriptAlias /ScribeUI <path_to_scribeui_root>/application/runserver.py
AddType text/html .py
<Directory <path_to_scribeui_root>/application/templates>
  Order deny,allow
  Allow from all
</Directory>

Alias /ScribeUI/download/ "<path_to_scribeui_root>/application/www/"
<Directory "<path_to_scribeui_root>/application/www/">
  AllowOverride None
  Options Indexes FollowSymLinks Multiviews
  Order allow,deny
  Allow from all
</Directory>
