<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MapX</title>
    
    <link rel="stylesheet" href="static/css/mapx.css">
    <link rel="stylesheet" href="static/css/jquery/css/dark-hive/dark-hive.css">
    <link rel="stylesheet" href="static/css/jquery/elfinder/css/elfinder.min.css">
    <!--<link rel="stylesheet" href="static/lib/jquery/js/DataTables-1.9.4/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="static/lib/jquery/js/DataTables-1.9.4/media/css/jquery.dataTables_themeroller.css">
    <link rel="stylesheet" href="static/lib/jquery/js/DataTables-1.9.4/media/css/demo_table.css">-->
    <link rel="stylesheet" href="static/css/CodeMirror-2.25/lib/codemirror.css">
    <link rel="stylesheet" href="static/css/CodeMirror-2.25/lib/util/dialog.css">
    <link rel="stylesheet" href="static/css/CodeMirror-2.25/lib/util/simple-hint.css">
 
    <script src="static/lib/OpenLayers-2.12/OpenLayers.js"></script>
    <script src="static/lib/jquery/js/jquery-1.7.2.min.js"></script> 
    <script src="static/lib/jquery/js/jquery-ui-1.8.20.custom.min.js"></script>
    <script src="static/lib/jquery/js/jquery.form.js"></script>
    <script src="static/lib/jquery/elfinder/js/elfinder.min.js"></script>
    <script src="static/lib/jquery/elfinder/js/proxy/elFinderSupportVer1.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="static/lib/jquery/js/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>-->
    <script src="static/lib/CodeMirror-2.25/lib/codemirror.js"></script>
    <script src="static/lib/CodeMirror-2.25/lib/util/search.js"></script>
    <script src="static/lib/CodeMirror-2.25/lib/util/searchcursor.js"></script>
    <script src="static/lib/CodeMirror-2.25/lib/util/dialog.js"></script>
<!--
    <script src="static/lib/CodeMirror-2.25/lib/util/simple-hint.js"></script>
    <script src="static/lib/CodeMirror-2.25/lib/util/closetag.js"></script>
    <script src="static/lib/CodeMirror-2.25/lib/util/xml-hint.js"></script>
    <script src="static/lib/CodeMirror-2.25/mode/xml/xml.js"></script>
-->
    <script src="static/lib/CodeMirror-2.25/mode/python/python.js"></script>

    <script src="static/js/init.js"></script>
    <script src="static/js/functions.js"></script>
    <script src="static/js/Workspace.js"></script>
    <script src="static/js/Map.js"></script>
    <script src="static/js/POI.js"></script>
    
    <!--<script src="static/js/workspaces.js"></script>
    <script src="static/js/navigate.js"></script>
    <script src="static/js/check_close_browser.js"></script>-->

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>

  <body>
   
    <div class="navbar">	
      <p id="title" class="title">MapX</p>
      <p id="info" class="title"></p>
    </div>

    <div class="main">
      <div id="tab1" class="tabpanel">
          <ul class="tabheader">
	    <li class="tab-large"><a href="#workspace-tab">Manager</a></li>
            <li class="tab-large"><a href="#editor-tab">Editor</a></li>
            <li class="tab-large"><a href="#data-tab">Data</a></li>
	    <li class="tab-large"><a href="#mapfile-tab">Result</a></li>
            <li class="tab-large"><a href="#log-tab">Logs</a></li>
	    <li class="tab-large"><a href="#debug-tab">Debug</a></li>
            <li class="tab-large"><a href="#help-tab">Help</a></li>
	  </ul>
	  <div id="workspace-tab" class="tabcontent">
	    <div class="tabheader-ws-container">
              <span class="separator">Workspaces</span>
              <div class="content">
	        <div class="tabheader-content">
		  <label>Name</label><br>
		  <select id="workspace-select" class="workspace-select" class="shadow_select"></select><br>
		  <label>Password</label><br>
		  <input id="workspace-password" class="workspace-input"/>
	        </div>
	        <div class="tabheader-buttons">
		  <div class="buttons-container">
		    <button id="btn_new_ws" class="workspace-button top-button">New Workspace</button>
		    <button id="btn_open_ws" class="workspace-button middle-button">Open Workspace</button>
		    <button id="btn_delete_ws" class="workspace-button bottom-button">Delete Workspace</button>
		  </div>
	        </div>
              </div>
	    </div>
	    <div class="tabfooter-ws-container">
	      <div class="workspace-maps">
		<span class="separator">Maps</span>
                <div class="content">
		  <div class="maps-content">
		    <div class="table-container">
		      <table id="map-table" class="map-table">
		        <tbody>
                        </tbody>
		      </table>
		    </div>
                    <div id="map-description" class="map-description-container">
                    </div>
		  </div>
		  <div class="maps-buttons">
		    <div class="buttons-container">
		      <button id="btn_new_map" class="workspace-button top-button map-button">New Map</button>
		      <button id="btn_open_map" class="workspace-button middle-button map-button">Open Map</button>
		      <button id="btn_backup_map" class="workspace-button middle-button map-button">Backup Map</button>
		      <button id="btn_export_map" class="workspace-button middle-button map-button">Export Map</button>
		      <button id="btn_cache_map" class="workspace-button ui-state-default middle-button map-button">Tile Map</button>
		      <button id="btn_delete_map" class="workspace-button bottom-button map-button">Delete Map</button>
		    </div>
		  </div>
                </div>
	      </div>
	      <div class="workspace-jobs">
		<span class="separator">Jobs</span>
		<div class="jobs-content">
		</div>
		<div class="jobs-buttons">
		</div>
	      </div>
	    </div>
          </div>
	  <div id="editor-tab" class="tabcontent">
	    <div id="tab2" class="tabpanel-small">
	      <div class="tabheader-editor-container">
	        <ul class="tabheader-small">
		  <li class="tab-small"><a href="#map-tab">Map</a></li>
		  <li class="tab-small"><a href="#variable-tab">Variables</a></li>
		  <li class="tab-small"><a href="#scale-tab">Scales</a></li>
		  <li class="tab-small"><a href="#symbol-tab">Symbols</a></li>
		  <li class="tab-small"><a href="#font-tab">Fonts</a></li>
		  <li class="tab-small"><a href="#projection-tab">Projections</a></li>
	        </ul>
	        <div id="map-tab" class="tabcontent-small">
		  <textarea id="map-editor" display="none"></textarea>
                </div>
	        <div id="variable-tab" class="tabcontent-small">
		  <textarea id="variable-editor" display="none"></textarea>
                </div>
                <div id="scale-tab" class="tabcontent-small">
		  <textarea id="scale-editor" display="none"></textarea>
                </div>
	        <div id="symbol-tab" class="tabcontent-small">
		  <textarea id="symbol-editor" display="none"></textarea>
                </div>
                <div id="font-tab" class="tabcontent-small">
		  <textarea id="font-editor" display="none"></textarea>
                </div>
	        <div id="projection-tab" class="tabcontent-small">
		  <textarea id="projection-editor" display="none"></textarea>
                </div>
	      </div>
	       <div class="tabfooter-editor-container">
		 <div id="group-toolbar" class="group-toolbar">
		   <select id="group-select" class="group-select" class="shadow_select"></select>
		   <button id="btn_new_group" class="group-button">New Group</button>
		   <button id="btn_delete_group" class="group-button">Delete Group</button>
                   <button id="btn_change_group_order" class="group-button">Group order</button>
		 </div>
		 <div class="editor-container">
		   <textarea id="editor" display="none"></textarea>
		 </div>
	       </div>
	    </div>
          </div>
          <div id="data-tab" class="datacontent">
          </div>
	  <div id="mapfile-tab" class="tabcontent">
            <textarea id="txt-result" class="logs" readonly="readonly"></textarea>
          </div>
          <div id="log-tab" class="tabcontent">
            <textarea id="txt-logs" class="logs" readonly="readonly"></textarea>
          </div>
	  <div id="debug-tab" class="tabcontent">
            <textarea id="txt-debug" class="logs" readonly="readonly"></textarea>
          </div>
          <div id="help-tab" class="tabcontent">
            <textarea id="txt-help" class="logs" readonly="readonly"></textarea>
          </div>
      </div>
      <div class="tool_map">
        <div id="map" class="map">
	</div>
      </div>
    </div>

    <div class="tools">
      <button id="btn_commit" class="button-commit button-14">Commit</button>
      <div class="poi-container">
        <select id="poi-select" class="shadow_select"></select>
        <button class="button-14" text="Go!" id="btn-zoom-poi">Go!</button>
	<button class="button-14" text="+" id="btn-add-poi">+</button>
      </div>
      <div id="scale-level" class="scale-level"></div>
    </div>
    
    <div id="createws-form" title="Create new workspace">
      <form>
	<fieldset>
          <label for="newws-name">Name</label><br>
          <input type="text" name="newws-name" id="newws-name" class="text ui-widget-content ui-corner-all" />
          <label for="newws-password">Password</label>
          <input type="newpassword" name="newws-password" id="newws-password" value="" class="text ui-widget-content ui-corner-all" />
	</fieldset>
      </form>
    </div>

    <div id="createmap-form" title="Create new map">
      <form>
	<fieldset>
          <label for="newmap-name">Name</label><br>
          <input type="text" name="newmap-name" id="newmap-name" class="text ui-widget-content ui-corner-all" /><br>
          <span id="newmap-ws" class="hidden">
            <label>Workspace</label><br>
	    <select id="newmap-workspace-select" class="shadow_select"></select><br>
	    <label>Password</label><br>
	    <input id="newmap-workspace-password"/>
            <button id="newmap-refresh-button">Refresh</button><br>
          </span>
	  <label for="newmap-template">Template</label><br>
	  <select id="newmap-template" class="newmap-template" class="shadow_select"></select><br>
	  <label for="newmap-description">Description</label><br>
	  <textarea id="newmap-description" class="newmap-description"></textarea>
	</fieldset>
      </form>
    </div>

    <div id="creategroup-form" title="Create new group">
      <form>
	<fieldset>
          <label for="newgroup-name">Name</label><br>
          <input type="text" name="newgroup-name" id="newgroup-name" class="text ui-widget-content ui-corner-all" />
	</fieldset>
      </form>
    </div>

    <div id="grouporder-form" title="Change group order">
      <form>
	<fieldset>
          <table id="group-table" class="group-table">
	    <tbody>
            </tbody>
	  </table>
	</fieldset>
      </form>
    </div>

    <div id="addpoi-form" title="Add point of interest">
      <form>
	<fieldset>
          <label for="newpoi-name">Name</label><br>
          <input type="text" name="newpoi-name" id="newpoi-name" class="text ui-widget-content ui-corner-all" />
	</fieldset>
      </form>
    </div>

    <div id="cachemap" title="Cache" style="display:none">
      <label>Map</br></label>
      <select id="selectmap" class="shadow_select dialog-select"></select>
      <label>Extent</br></label>
      <input type="radio" name="extent" value="current"/> Current Extent <br>
      <input type="radio" name="extent" value="set"/> Set Extent <br>
      <input type="text" id="maxY" class="extent-input" value="maxY" style="display:none"/> <br>
      <input type="text" id="minX" class="extent-input" value="minX" style="display:none"/>
      <input type="text" id="maxX" class="extent-input" value="maxX" style="display:none"/>
      <input type="text" id="minY" class="extent-input" value="minY" style="display:none"/> <br>
    </div>

  </body>

</html>
