	<section id="download">
      <div class="inner">
          <a href="https://github.com/mapgears/scribeui/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/mapgears/scribeui/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>
        <p>
			<strong>Get started now!</strong><br/>
			<a href="getting-started.html">Install ScribeUI</a> and learn to use the <a href="scribe-syntax.html">Scribe syntax</a>
			and start creating mapfiles faster now!
        </p>
      </div>
	</section>

