/*=== html, body, main ===*/
html, body {
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #222222;
}

.main {
    height: 85%;
    width: 100%;
}

/*=== Title ===*/
.navbar {
    border-bottom: 2px solid rgba(82, 168, 236, 0.8);
    margin-top: 0px;

    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
    height: 5%;
}

.title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 45%;
    color: #999999;
    font-size: 20px;
    line-height: 1;
}

#info {
    text-align: right;
    position: relative;
    left:50%;
    top: -40px;
}

.elfinder-dialog {
    visibility: hidden !important;
}

.elfinder-toolbar {
    border-radius: 0px !important;
}

.elfinder-navbar {
   height: 100% !important;
}

.elfinder-cwd-wrapper {
   height: 100% !important;
}

.elfinder-statusbar {
    border-radius: 0px !important;
}

.scale-level {
    width: 120px;
    position: relative;
    float:right;
    color: white;
    margin-top:15px;
}

.file-manager {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    height: auto !important;
}

.poi-container {
    position: relative;
    float: right;
    margin-top:10px;
    right: 24%;
}

.table-container {
    position: absolute;
    left: 0;
    right: 60%;
    top: 0;
    bottom: 0;
    /*overflow-y: auto;*/
   /* padding: 5px;*/
    
}

.map-table {
    width: 100%;
}

.map-td { 
    border: 2px outset #444444;
    border-radius: 6px;
    background: url("jquery/css/dark-hive/images/ui-bg_highlight-soft_35_222222_1x100.png") repeat-x scroll 50% 50% #222222
}
/*
.map-description {
    position: absolute;
    border: none !important;
    border-radius: 6px;
    width:100%;
    height:100%; 
    box-sizing: border-box;         
    -moz-box-sizing: border-box;    
    -webkit-box-sizing: border-box; 

    background-color: rgba(0,0,0,0);
    opacity: 1;
    color: white;
    resize: none; 
}
*/
.map-description {
    position: relative;
    border: none !important;
    /*border-radius: 6px;*/
    width:100%;
    /*height:100%;*/
    height: 60px;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */

    background-color: rgba(0,0,0,0);
    opacity: 1;
    color: white;
    resize: none;
}

.underline{
    border-bottom: 1px solid rgba(82, 168, 236, 0.8);
    color: rgba(82, 168, 236, 0.8);
}

.map-description-container {
    /*border: 2px outset rgba(82, 168, 236, 0.8); */
    position: absolute;
    left: 41%;
    right: 0;
    top: 2px;
    bottom: 0;
    border-radius: 6px;
    background-color: rgba(0,0,0,0);
    opacity: 1;
    overflow-y: hidden;
}

.map-selected {
    background: url("jquery/css/dark-hive/images/ui-bg_highlight-hard_20_0972a5_1x100.png") repeat-x scroll 50% 50% #0972A5;
    border: 2px inset #26B3F7;
    /*background-color: green;*/
}

.tabs-left{
    border-width: 0px !important;
    background: none !important;
}

.tabheader-left{
    background: none !important;
    border-width: 0px !important;
}

.map-desc {
    position: relative;
    float: left;
}

/*=== Tabs (outer) ===*/
.tabpanel {
    float: left;
    
    width: 42%;
    height: 100%;

    border-width: 0px !important;

    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;

    position: relative;
}

.tabpanel-small {
    width: 100%;
    height: 100%;

    border-width: 0px !important;

    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;

    /*position: absolute !important;*/
}

.ui-tabs {
    padding: 0.0em !important;
}

.tab-large{
    height: 20px !important;
}

.tab-large{
    height: 40px !important;
}


.tabheader {
    border-bottom: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;
    border-radius: 0 !important;
    border-left-width: 0px !important;
    /*border-right-width: 0px !important;*/
    border-top-width: 0px !important;
   
    line-height: 1.3 !important;
    padding-top: 5px !important;
    padding-left: 5px !important;;
}

.tabheader-small {
    border-bottom: 1px solid #AAAAAA !important;
    border-radius: 0 !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    
    padding-top: 5px !important;
    padding-left: 5px !important;
    line-height: 0.4 !important;

    background-image: none !important;
    background: url("jquery/css/dark-hive/images/ui-bg_highlight-soft_44_444444_1x100.png") repeat-x scroll 50% 50% #444444 !important;
}

/*== Toolbar + map ===*/
.tool_map {
    float: left;
    width: 58%;
    height: 100%;
}

/*=== Toolbar ===*/
.toolbar {
    float: left;
    width: 2%;
    height: 100%;

    background-color: rgba(82, 168, 236, 0.8);
}

.toolbarbtn {
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;

    height: 100%;
    width: 100%;

    padding: 5px;

    border-radius: 0px 0px 0px 0px;
    border: 0px;
}

.toolstable {
    position: relative;
    top: 100px;

    border-collapse: collapse;
}

/*=== Map ===*/
.map {
    float: left;

    width: 100%;
    height: 100%;
}

/*=== Search tools ===*/
.tools {
    height: 10%;
    width: 100%;
    border-top: 2px solid rgba(82, 168, 236, 0.8);
}

.findByLonLat {
    float: right;
    margin: 10px;
    margin-right: 100px;
}

.findHotSpot {
    float: right;
    margin: 10px;
    margin-right: 50px;
}

#selectHotSpot {
    width: 230px;
}

.lon-lat {
    height: 20px;
    resize: none;
    width: 60px;
}

/*=== Style and layer editors ===*/
.CodeMirror {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;

    background-color: (0,0,0,0.7);
    opacity: 1;

    color: white;
}

.CodeMirror-gutter {
    background-color: transparent !important;
    border-right: 1px solid #AAAAAA;
}

.CodeMirror-gutter-text {
    color: white;
}

.CodeMirror-scroll {
    height: 100% !important;
    width: 100% !important;
}

.CodeMirror pre.CodeMirror-cursor {
    border-left: 1px solid white !important;
}

.cm-s-default span.cm-variable {
    color: #009966 !important;
}

.cm-s-default span.cm-operator {
    color: #FFFFFF !important;
}

.cm-s-default span.cm-meta {
    color: yellow !important;
}

.cm-s-default span.cm-string {
    color: #CC6633 !important;
}

.cm-s-default span.cm-number {
    color: #6699FF !important;
}

.layerMirror {
    height: 300px !important;
    border: 1px solid #bbbbbb !important;
    position: relative !important;
    top: 0 !important;
}

.group-toolbar {
    position: relative;
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    /*background-color: #AAAAAA;*/
    background: url("jquery/css/dark-hive/images/ui-bg_highlight-soft_44_444444_1x100.png") repeat-x scroll 50% 50% #444444;
    height: 31px;
}

.group-button{
    border-radius: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    border-width: 0px !important;
    font-size: 14px !important;
}

.group-select{
    margin-left: 5px;
    width: 200px;
}

.group-table{
    width: 240px;
}

.workspace-select{
    margin: 10px;
    width: 205px;
}

.workspace-input{
    margin: 10px;
    width: 200px;
}

.workspace-button {
    width: 150px;
    float: right;
    font-size: 14px !important;
    background-color: #222222 !important;
}

.top-button {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.middle-button {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important; 
}

.bottom-button {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important; 
}

.button-14 {
    font-size: 14px !important;
}

.button-commit {
    margin-top:10px;
    margin-left: 18%;
}

/*=== Tabs (inner) ===*/
.tabcontent {
    padding: 0em !important;
    overflow-y: auto;
    
    position: absolute;
    top: 48px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0px !important;
    border-right: 1px solid #AAAAAA !important;
}

.tabcontent-small {
    padding: 0em !important;
    overflow-y: auto;
    
    width: 100%;

    /*border: 3px solid white;*/
    
    position: absolute;
    bottom: 0;
    top: 33px;
    border-radius: 0px !important;
}

.datacontent {
    padding: 0em !important;
    overflow-y: auto !important;
    
    position: absolute !important;
    top: 48px !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0px !important;
    border-right: 1px solid #AAAAAA !important;
}

.editor-container {
    overflow-y: auto;
    position: absolute;
    top: 33px;
    bottom: 0;
    width: 100%;
    border-radius: 0px !important;
}

.tabheader-ws-container {
    overflow-y: auto;
    position: relative;
    height: 25%;
    /*position: absolute;
    right: 0;
    left: 0;
    bottom: 82%;
    top: 0;*/
    /*min-height:200px;*/    
}

.tabfooter-ws-container {
    overflow-y: auto;
    position: relative;
    height: 75%;
    /*position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 18%;*/
    /*min-height:200px;*/
}

.tabheader-editor-container {
    overflow-y: hidden;
    position: relative;
    height: 30%;
}

.tabfooter-editor-container {
    overflow-y: hidden;
    position: relative;
    height: 70%;
}

.tabheader-content {
    position: absolute;
    right: 30%;
    left: 0;
    bottom: 0;
    top: 0px;
}

.tabheader-buttons {
    /*padding-top: 15px;*/
    position: absolute;
    right: 0;
    left: 70%;
    bottom: 0;
    top: 0;
}

.content {
    overflow-y: auto;
    position: absolute;
    right: 25px;
    left: 25px;
    bottom: 0;
    top: 40px;
}

.maps-content {
    /*overflow-y: auto;*/
    position: absolute;
    right: 25%;
    left: 0;
    bottom: 0;
    top: 0;
}

.maps-buttons {
    /*padding-top: 110px;*/
    /*overflow-y: auto;*/
    position: absolute;
    right: 0;
    left: 70%;
    bottom: 0;
    top: 0;
}

.jobs-content {
    position: absolute;
    right: 30%;
    left: 25px;
    bottom: 0;
    top: 60%;
    margin-top: 25px;
}

.jobs-buttons {
    position: absolute;
    right: 25px;
    left: 70%;
    bottom: 0;
    top: 60%;
    margin-top: 25px;
}

.workspace-maps {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 55%;
    top: 0;
    /*height: 45%;*/
    overflow-y: auto; 
}

.workspace-jobs{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 45%;
    /*height: 55%;*/
    overflow-y: auto;
}

.separator{
    position: absolute;
    left: 25px;
    right: 25px;
    border-bottom: 1px solid #AAAAAA;
    height: 20px;
    padding-top: 10px;
    /*width: 100%;*/
}

.buttons-container {
    display: inline-block;
}

.logs {
    width: 100%;
    height: 100%;

    margin: 0px;

    background-color: transparent;
    color: white;

    border-width: 0px !important;

    resize: none;
}

.newmap-description{
    width: 350px;
    height: 180px;
}

.hidden {
    display: none;
}

.acc-btn-edit-editing {
    position: relative;
    float: right;
    right: 10px;
    top: 5px;

    height: 20px;
    width: 20px;

    display: block;

    background-repeat: no-repeat;
    background-color: transparent;

    border-radius: 0px 0px 0px 0px;
    border: 0px;
}

.acc-btn-edit {
    background-image: url("http://projects.opengeo.org/common/geosilk/trunk/silk/pencil.png");
}

.acc-btn-stop-editing {
    background-image: url("images/stop-editing.png");
}

.acc-btn-delete {
    background-image: url("images/delete-map.png");
}

.acc-btn-editing {
    background-image: url("http://projects.opengeo.org/common/geosilk/trunk/silk/disk.png");
}

.acc-btn-add {
    background-image: url("http://www.pensacolabusiness.com/images/icons/addIcon.gif");
}

.acc-btn-remove {
    background-image: url("images/moins.png");
}

.acc-btn-upload {
    background-image: url("images/Upload.png");
}

.acc-btn-lock-unlock {
    position: relative;
    float: right;
    right: 10px;
    top: 5px;

    height: 20px;
    width: 20px;

    display: block;

    background-repeat: no-repeat;
    background-color: transparent;

    border-radius: 0px 0px 0px 0px;
    border: 0px;
}

.acc-btn-unlocked {
    background-image: url("images/icon-cadenas-unlocked.png");
}

.acc-btn-locked {
    background-image: url("images/icon_cadenas_locked.png");
}

li {
    list-style: disc outside none; 
}

.acc-container {
    margin: 10px;
}

/*=== Text, select, button ===*/
label {
    color: white;
    font: normal 15px !important;
}

.ui-button .ui-button-text
{
 line-height: 0.8;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.2em 1em !important;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 0px !important;
}

.dialog-select {
    width: 270px;
}

.dialog-input {
    width: 264px;
}

button, input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.layer:hover {
    cursor: crosshair;
}

/*=== Other ===*/
div.olControlZoom a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
}

.extent-input {
    width: 100px;
    margin-top: 5px;
}

#maxY {
    position: relative;
    left: 86px;
}

#maxX {
    position: relative;
    left: 25px;
}

#minY {
    left: 86px;
    position: relative;
}

#minX {
    position: relative;
    left: 20px;
    margin-right:16px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0px !important;
}

/* remove extra button width in IE */
button.fg-button { 
    width:auto; 
    overflow:visible;
    margin-top: 10px;
}

.button-tools {
    position: relative;
    left: 1%;
}

.left-button {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}



.right-button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.ui-widget {
    font-size: 1.1em;
}

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -0.3px;}

.cm-s-default span.cm-number{
    color: #FFFFFF; /* #0066FF;*/
}

.cm-s-default span.cm-string {
    color: #FFFF00;
}

.cm-s-default span.cm-comment {
    color: #CC0033;
}

.cm-s-default span.cm-operator {
    color: #33FF00;
}

.cm-s-default span.cm-keyword {
    color: #9900C9;
}

.cm-s-default span.cm-error {
    color: #990099;
}

.loadingMap {
    bottom: 52%;
    left: 50%;
    position: relative;
    z-index: 999;
    display: none;
}

.loadingCode {
    bottom: 55%;
    left: 20%;
    position: relative;
    z-index: 999;
    display: none;
}

#scalelbl {
    bottom: 70px;
    left: 160px;
    position: absolute;
}

#scalelevel {
    bottom: 35px;
    left: 160px;
    position: absolute;
}

#addHotSpot {
    height:auto !important;
}

.progress { position:relative; display:none, border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:none; top:3px; left:48%; }
#status {position:relative}
.uploadSend {position:relative; left:60px; padding:4px !important; margin-bottom:5px; width:85px;}

