/*=== html, body, main ===*/
html, body {
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #efefef;
}
body{
	font-size: 62.5%;
}
a{
	outline: 0;
}
.main {
    height: 100%;
    width: 100%;
}
/*=== Header ===*/
.navbar {
    position: relative;

    border-bottom: 2px solid rgba(82, 168, 236, 0.8);
    margin-top: 0px;

    width: 100%;

    min-height: 30px;

    background-color:#fff;
	z-index:1000;
}

.title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #212121;
    line-height: 1;
 
    padding-top: 10px;    
}
.faded{
	color:#a9a9a9;
	font-size:0.9em;
}

.title-left {
    position: relative;
    float: left;
    padding-left: 20px;
}

.title-right {
    position: relative;
    float: right;
    padding-right: 20px;
    text-align: right;
}

/*=== Bottom ===*/
.tools {
    height: 30px;
	width:100%;
    border-top: 2px solid rgba(82, 168, 236, 0.8);
    background-color:#fff;
	position:absolute;
	bottom:0;
	z-index:1000;
}

.tools button {
}

.tools-left {
    position: relative;
    float: left;
    width: 100px;
}

.tools-right {
    position: relative;
    float: right;
    width: 300px;
}

.poi-container {
    position: relative;
    float: left;
    padding-left: 10px;
}

.poi-container select{
    width: 200px;
}

.scale-level {
    position: relative;
    float:right;
    padding-right: 10px;
    color: white;
}

/*=== Elfinder ===*/
.elfinder-dialog {
    visibility: hidden !important;
}

.elfinder-toolbar {
    border-radius: 0px !important;
}

.elfinder-navbar {
   height: 100% !important;
}

.elfinder-cwd-wrapper {
   height: 100% !important;
}

.elfinder-statusbar {
    border-radius: 0px !important;
}

.file-manager {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    height: auto !important;
}

/* === Tabs ===*/
.main-left {
    float: left;
    
    width: 42%;
    height: 100%;

    border-width: 0px !important;

    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;

    position: relative;
}
#tab1{
	position:relative;
}
.tabpanel-small {
    width: 100%;
    height: 100%;

    border-width: 0px !important;

    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.tab-container {
    overflow-x: auto;
}

.tab-container-small {
    overflow-x: auto;
    border-bottom: 1px solid #AAAAAA !important;
}

.ui-tabs {
    padding: 0.0em !important;
}

.tab-small{
}


.tabheader {
    /*border-bottom: 1px solid #AAAAAA !important;
    border-right: 1px solid #AAAAAA !important;*/
    border-radius: 0 !important;
    border-left-width: 0px !important;
    border-top-width: 0px !important;
   
    line-height: 1.3 !important;
    padding-top: 5px !important;
    padding-left: 5px !important;

}

.tabheader-small {
   /* border-bottom: 1px solid #AAAAAA !important;*/
    border-radius: 0 !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    
    padding-top: 5px !important;
    padding-left: 5px !important;
    line-height: 0.4 !important;

    background-image: none !important;
}

.tabs-left{
    border-width: 0px !important;
    background: none !important;
}

.tabheader-left{
    background: none !important;
    border-width: 0px !important;
}

.tabcontent {
    padding: 0em !important;
    overflow-y: auto;
    width:100%;
    border-radius: 0px !important;
}

.tabcontent-small {
    padding: 0em !important;
    overflow-y: auto;
    
    width: 100%;

}

/*=== Manager ===*/
.tabheader-ws-container {
    overflow-y: auto;
    position: relative;
    height: 25%;  
}

.tabfooter-ws-container {
    overflow-y: auto;
    position: relative;
    height: 75%;
}

.tabheader-content {
    position: absolute;
    right: 30%;
    left: 0;
    bottom: 0;
    top: 0px;
}

.tabheader-buttons {
    position: absolute;
    right: 0;
    left: 70%;
    bottom: 0;
    top: 0;
}

.manager-maps {
     overflow-y: auto; 
}

.manager-jobs{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 45%;
    overflow-y: auto;
}

.content {
    overflow-y: auto;
	padding-right:20px;
	padding-left:20px;
}

.maps-content {
	float:left;
	padding:0;
	margin:0;
	margin-right:255px;
	min-width:100px;
	min-height:100px;
}
.maps-buttons .map-title{
	text-align:center;
	font-weight:bold;
}
.maps-buttons {
	float:right;
	margin:0;
	padding:0;
	margin-left:-255px;
	width:255px;
	overflow:hidden;
}
.maps-buttons button{
	margin-top:10px;
	margin-bottom:10px;
}
#map-actions button{
	max-width:80px;
}
#map-actions button .ui-button-text{
	padding-left:8px;
	padding-right:8px;
}
#map-preview-img-large{
	height:200px;
	width:200px;
    background-image:url('images/map-preview-placeholder.png');
	background-size:200px 200px;

	margin:auto;
	display:block;
}

.separator{ 
    border-bottom: 1px solid #AAAAAA;
	display:block;
	margin:20px;
    height: 20px;
	font-size:1.1em;
}

.buttons-container {
    display: inline-block;
	width:100%;
}

.underline{
    border-bottom: 1px solid rgba(82, 168, 236, 0.8);
    color: rgba(82, 168, 236, 0.8);
}

.table-container {
    position: absolute;
    left: 0;
    right: 60%;
    top: 0;
    bottom: 0;    
}

.map-table {
    width: 100%;
}
#btn_new_map{
	display:block;
	width:100%;
}

/*== Editor ===*/
#editor-toolbar{
	background-color:#FCFCFC;
	border-bottom:solid 1px #f7f7f7;
}
.main-editor {
    overflow-y: auto;
    width: 100%;
    height:100%;
}
#secondary-editor{
	overflow-y:auto;
	border-bottom:solid 1px #dddddd;
	height:100%;
}
.secondary-wrap{
	overflow-y:hidden;
	padding-bottom:7px;
}
#editors-container{
	height:100%;
	overflow:hidden;
	position:relative;
}
.ui-resizable-s{
	bottom:0px;
	top:auto;
	background-color:#fff;
}
/*=== Codemirror ===*/
.CodeMirror {
	font-size:1.3em;
	height:100%;
}
#editors-container .CodeMirror-scroll{
	overflow:hidden;
	height:auto;
}


/*=== Data ===*/
.datacontent {
    padding: 0em !important;
    overflow-y: auto !important;
    
    position: absolute !important;
    top: 45px !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0px !important;
    border-right: 1px solid #AAAAAA !important;
}

/*== Logs ===*/
#logs {
    background-color: white;
	position:absolute;
	bottom:32px;
	z-index:999;
	width:100%;
	min-height:50px;
	border:none;
}
.logs{
	width:100%;
	height:100%;
    background-color: white;
    border-width: 0px !important;
    margin: 0px;
}
#logs-close-button{
	float:right;
}

/*== Map ===*/
.main-right {
    float: left;
	position:relative;
	top:-30px;
    width: 58%;
    height: 100%;
}

/*=== Map ===*/
.map {
    width: 100%;
	position:absolute;
	top:30px;
	bottom:30px;
	right:0;
	left:0;
}

/*=== Others ===*/
.group-toolbar {
    position: absolute;
    border-bottom: 1px solid #AAAAAA !important;
    border-top: 1px solid #AAAAAA !important;
    height: 31px;
    width: 100%;
    z-index: 15;
}

.group-button{
}

.group-select{
    margin-left: 5px;
    width: 200px;
}
#group-edition-select{
	float:right;
}
.group-table{
    width: 240px;
}
#variables-button{
	float:right;
}

.workspace-select{
    margin: 10px;
    width: 205px;
}

.workspace-input{
    margin: 10px;
    width: 200px;
}

.workspace-button {
    width: 150px;
    float: right;
}

.top-button {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.middle-button {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important; 
}

.bottom-button {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important; 
}

.button-commit {
    position: relative;
    left: 48%;
}

.newmap-description{
    width: 350px;
    height: 180px;
}

.invisible{
    display: none;
}

.hidden {
    visibility: hidden;
}

li {
    list-style: none; 
}

fieldset select {
    width: 205px;
}

fieldset input {
    width: 205px;
}

/*=== Text, select, button ===*/
/*
label {
    color: white;
    font: normal 15px !important;
}

.ui-button .ui-button-text
{
 line-height: 0.8;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.2em 1em !important;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 0px !important;
}

.dialog-select {
    width: 270px;
}

.dialog-input {
    width: 264px;
}

button, input, select, textarea {
    vertical-align: middle;
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.layer:hover {
    cursor: crosshair;
}
*/
/*=== Other ===*/
div.olControlZoom a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
}

.extent-input {
    width: 100px;
    margin-top: 5px;
}

#maxY {
    position: relative;
    left: 86px;
}

#maxX {
    position: relative;
    left: 25px;
}

#minY {
    left: 86px;
    position: relative;
}

#minX {
    position: relative;
    left: 20px;
    margin-right:16px;
}
/*
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    padding-bottom: 0px !important;
}

button.fg-button { 
    width:auto; 
    overflow:visible;
    margin-top: 10px;
}

.button-tools {
    position: relative;
    left: 1%;
}

.left-button {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.right-button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.ui-widget {
    font-size: 1.1em;
}

.fg-buttonset { float:left; }
.fg-buttonset .fg-button { float: left; }
.fg-buttonset-single .fg-button, 
.fg-buttonset-multi .fg-button { margin-right: -0.3px;}
*/
#group-ol .ui-selecting { 
	color:#007BD1;
}
#group-ol .ui-selected { 
	background-color:#fff;
	color:#007BD1;
}
#group-ol { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}
#group-ol li { 
	margin: 3px; 
	padding: 4px; 
	cursor:pointer;
}

.ui-front{
	z-index:1050;
}
.ui-dialog{
	z-index:1100;
}
.no-close .ui-dialog-titlebar-close {display: none }

#map-list{
	min-width:100px;
	min-height:100px;

}

#map-list .map-preview{
	display:block;
	float:left;
	width:64px;
	margin:5px;
	text-align:center;
    border: 1px solid #FFFFFF;
	cursor:pointer;
}
#map-list .map-preview .map-preview-img{
    background-image:url('images/map-preview-placeholder.png');
	background-size:64px 64px;
	width: 64px;
	height: 64px;
}
#map-list .map-preview.ui-selected{
	background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    color: #444444;
}
#group-ol .to-be-deleted{
	color:#AFAFAF;
	text-decoration:line-through;
}

.log-button-container{
	width:24px;
	height:26px;
	overflow:hidden;
	position:relative;
	float:right;
}
#log-notification{
	position:absolute;
	top:1px;
	right:0px;
	background-image:none;
	background-color:transparent;
	z-index:10;
	border:none;
	display:none;
}

