<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container{{layout.fluid_css_class}}">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{brand_url}}">{{title}}</a>

            <ul class="nav pull-right">
                {% if request.userid %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user icon-white"></i> {{request.userid}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{request.route_url('auth.logout')}}">
                                <i class="icon-off"></i>
                                Log Out
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{{request.route_url('auth.login')}}">
                        <i class="icon-user icon-white"></i> Log In
                    </a>                
                </li>
                {% endif %}
            </ul>
            
            <div class="nav-collapse">
                {% if nav %}
                <ul class="nav" role="navigation">
                    {% for item in nav %}                  
                    {% if item.items %}
                    <li class="dropdown{{' active' if item.active else ''}}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{item.name}}
                            <span class="caret"></span>
                        </a>
                        {{submenu(item.items)}}
                    {% else %}
                    <li class="{{' active' if item.active else ''}}">
                        <a href=" {{item.url}}">
                            {{item.name}}
                        </a>
                        {% endif %}
                    </li>                  
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
