{% extends main_template %}
{% block body %}

<script type=text/javascript>
    $SETTINGS = {{settingsJSON|safe}}; //safe to remove escape characters
</script>

<!-- Header -->
    <div class="navbar">
        <div id="title" class="title-left">
            <img src="{{logo}}"></img>
            <div class="title">
                <span class="faded">{{version}}</span>
            </div>
        </div>

        <div id="logout">
            <button id="workspace">
                {{settings.wsname}}
            </button>
            <!--a href="{{logout_url}}">Log Out</a-->
        </div>
        <ul>
            <li><a href="{{logout_url}}">Log Out</a></li>
        </ul>
        <div id="map-name"></div>
        <!--div id="info" class="title title-right"></div-->
    </div>

<!-- Main -->
    <div class="main">
        <div  class="main-left">
        <div id="main-tabs">
            <ul class="tabheader">
                <li class="tab-large"><a href="#manager-tab">Manager</a></li>
                    <li class="tab-large"><a href="#editor-tab">Editor</a></li>
                    <li class="tab-large"><a href="#data-tab">Browse</a></li>
            </ul>
            <div id="manager-tab" class="tabcontent">
                <div class="manager-maps">
                    <span class="separator">Maps</span>
                    <div class="content">
                          <div class="maps-content">
                            <ol id="maps-list"></ol>
                     </div>
                 <div class="maps-buttons">
                     <div class="buttons-container">
                        <div>
                            <table class="two-col-actions">
                                <tr>
                                    <td align="center">
                                        <button id="btn_new_map" >New Map</button>
                                    </td>
                                    <td align="center">
                                        <button id="btn_clone_map">Clone Map</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="map-description" class="map-description-container"></div>
                        <div id="map-actions" style="display:none">
                            <table class="three-col-actions">
                                <tr>
                                    <td align="center">
                                        <button id="btn_open_map">Open Map</button>
                                    </td>
                                    <td align="center">
                                        <button id="btn_export_map">Export Map</button>
                                    </td>
                                    <td align="center">
                                        <button id="btn_delete_map">Delete Map</button>
                                    </td>
                                </tr>
                            </table>
                            <table class="three-col-actions">
                                <tr>
                                    <td align="center">
                                        <button id="btn_configure_map">Configure</button>
                                    </td>
                                    <td align="center">
                                        <button id="btn_pull_map">Pull</button>
                                    </td>
                                    <td align="center">
                                        <button id="btn_commit_map">Push</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                     </div>
                 </div>
                 </div>
            </div>
            </div>
            <div id="editor-tab" class="tabcontent">
                <div id="editor-toolbar" class=" ui-corner-all">
                    <select id="editor-select">
                    </select>

                    <select id="group-select" class="group-select" class="shadow_select"></select>
                    <button id="btn_change_group_order" class="group-button btn-group-last">Group Settings</button>

                    <div class="log-button-container">
                        <span id="log-notification" class="ui-state-error"><span class="ui-icon ui-icon-alert"></span></span>
                        <button id="btn_commit" class="button-commit btn-group-first" title="Save ( Ctrl+S )">Save</button>
                        <button id="btn-open-logs" class="group-button btn-group-last">Logs</button>
                    </div>
                </div>
                <div id="editors-container">
                        <div class="secondary-wrap" style="height:250px">
                            <div id="secondary-editor">
                                <div id="map-editor-tab" class="tabcontent-small" style="display:none">
                                    <textarea id="map-editor" class="code-area"></textarea>
                                </div>
                                <div id="variable-editor-tab" class="tabcontent-small" style="display:none">
                                    <textarea id="variable-editor" class="code-area"></textarea>
                                </div>
                                <div id="scale-editor-tab" class="tabcontent-small" style="display:none">
                                    <textarea id="scale-editor" class="code-area"></textarea>
                                </div>
                                <div id="symbol-editor-tab" class="tabcontent-small" style="display:none">
                                    <textarea id="symbol-editor" class="code-area"></textarea>
                                </div>
                                <div id="font-editor-tab" class="tabcontent-small" style="display:none">
                                    <textarea id="font-editor" class="code-area"></textarea>
                                </div>
                                <div id="projection-editor-tab" class="tabcontent-small" style="display:none">
                                    <textarea id="projection-editor" class="code-area" ></textarea>
                                </div>
                                <div id="readme-editor-tab" class="tabcontent-small" style="display:none">
                                    <textarea id="readme-editor" class="code-area" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="main-editor">
                            <textarea id="editor" class="code-area" style="display:none"></textarea>
                        </div>
                </div>

            </div>
            <div id="data-tab" class="datacontent">
            </div>
        </div>
        </div>
        <div class="main-right">
            <div id="map" class="map">
                <div class="map-render-error ui-widget-content" style="display: none">
                    An error occured while rendering the map.
                    <a href="javascript:void(0)" id="link-open-logs">Check the logs</a>
                    for more details.
                </div>
            </div>
            <div id="logs">
                <div id="log-tabs">
                    <ul class="tabheader">
                        <li class="tab-large"><a href="#log-tab">Logs</a></li>
                        <li class="tab-large"><a href="#debug-tab">Debug</a></li>
                        <li class="tab-large"><a href="#mapfile-tab">Result</a></li>
                        <button id="logs-close-button">Close</button>
                    </ul>

                    <div id="log-tab" class="tabcontent">
                        <pre id="txt-logs" class="logs"></pre>
                    </div>
                    <div id="debug-tab" class="tabcontent">
                        <pre id="txt-debug" class="logs"></pre>
                    </div>
                    <div id="mapfile-tab" class="tabcontent">
                        <textarea id="txt-result" class="logs"></textarea>
                    </div>

                </div>
            </div>
            <div class="tools">
                <div class="tools-right">
                    <div class="poi-container">
                        <select id="poi-select" class="shadow_select"></select>
                        <button id="btn-zoom-poi" class="btn-group-first btn-group-last" disabled>Go!</button>
                        <button id="btn-remove-poi" class="btn-group-middle" disabled>-</button>
                        <button id="btn-add-poi" class="btn-group-last" disabled>+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Forms and windows -->
    <div id="createmap-form" title="Create new map" style="display:none" class="scribe-dialog">
        <div class="dialog-content">
            <form>
                <div class="control-group">
                    <label for="newmap-name">Name</label>
                    <div class="control">
                        <input type="text" name="newmap-name" id="newmap-name" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="newmap-type">Type</label>
                    <div class="control">
                        <select id="newmap-type" class="newmap-template" class="shadow_select">
                            <option value="Scribe">Scribe</option>
                            <option value="Standard">Standard</option>
                        </select>
                    </div>
                </div>
                <div id="newmap-ws" class="invisible">
                    <div class="control-group">
                        <label>Workspace</label>
                        <div class="control">
                            <select id="newmap-workspace-select" class="shadow_select"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label>Password</label>
                        <div class="control">
                            <input type="password" id="newmap-workspace-password"/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="newmap-template">Template</label>
                    <div class="control">
                        <select id="newmap-template" class="newmap-template" class="shadow_select"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label for="newmap-description">Description</label>
                    <div class="control">
                        <textarea id="newmap-description" class="newmap-description"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="exportmap-div" title="Export map" style="display:none" class="scribe-dialog">
        <form id="exportmap-form" method="post">
            <div class="control-group">
                <span>Select the amount of vector and raster data to include</span>
                <a href="javascript:void(0)" id="link_export_map_info" title="Click for help">(?)</a>
            </div>
            <div class="control-group">
                <label for="export_data">No data</label>
                <div class="control">
                    <input type="radio" name="export_data" value='none'>
                </div>
            </div>
            <div class="control-group">
                <label for="export_data">Minimal data</label>
                <div class="control">
                    <input type="radio" name="export_data" value='min' checked>
                </div>
            </div>
            <div class="control-group">
                <label for="export_data">All data</label>
                <div class="control">
                    <input type="radio" name="export_data" value='all'>
                </div>
            </div>
        </form>
        <div id="preparing-export" class="hidden">Preparing data...</div>
    </div>

    <div id="exportmap-info" title="Help" class="scribe-dialog" style="display:none">
        <div class="dialog-content">
            This option specifies how much data from the pdata folder should be included.
            <ul>
                <li>Selecting "No Data" will not include any raster or vector data.
                A user who wishes to view the map will need to have the appropriate data already installed.</li>
                <li>Selecting "Minimal data" will include only the data used in the map to be exported.</li>
                <li>Selecting "All data" will include the complete pdata folder.
                This option will probably create very large files.</li>
            </u>
        </div>
    </div>

    <div id="creategroup-form" title="Create new group" style="display:none" class="scribe-dialog">
        <form>
            <div class="control-group">
                <label for="newgroup-name">Name</label>
                <div class="control">
                    <input type="text" name="newgroup-name" id="newgroup-name"/>
                </div>
            </div>
        </form>
    </div>

    <div id="grouporder-form" title="Change group order" style="display:none" class="scribe-dialog">
        <form>
            <ol id="groups-ol" class="groups-ol">
            </ol>
        </form>
    </div>

    <div id="addpoi-form" title="Add point of interest" style="display:none" class="scribe-dialog">
        <form>
            <div class="control-group">
                <label for="newpoi-name">Name</label>
                <div class="control">
                    <input type="text" name="newpoi-name" id="newpoi-name" />
                </div>
            </div>
        </form>
    </div>

    <div id="cachemap" title="Cache" style="display:none">
        <label>Map<br/></label>
        <select id="selectmap" class="shadow_select dialog-select"></select>
        <label>Extent<br/></label>
        <input type="radio" name="extent" value="current"/> Current Extent <br>
        <input type="radio" name="extent" value="set"/> Set Extent <br>
        <input type="text" id="maxY" class="extent-input" value="maxY" style="display:none"/> <br>
        <input type="text" id="minX" class="extent-input" value="minX" style="display:none"/>
        <input type="text" id="maxX" class="extent-input" value="maxX" style="display:none"/>
        <input type="text" id="minY" class="extent-input" value="minY" style="display:none"/> <br>
    </div>

    <div id="configuremap-form" title="Configure map" style="display:none" class="scribe-dialog">
        <div class="dialog-content">
            <form>
                <div class="control-group">
                    <label for="configure-url">Map URL</label>
                    <div class="control">
                        <input type="text" id="configure-url" readonly />
                    </div>
                </div>
                <div class="control-group">
                    <label for="git-url">Git URL</label>
                    <div class="control">
                        <input type="text" name="git-url" id="git-url" class="long"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="configure-description">Description</label>
                    <div class="control">
                        <textarea id="configure-description" class="git-logs"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label for="configure-logs">Logs</label>
                    <div class="control">
                        <textarea id="configure-logs" class="git-logs" disabled></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="commitmap-form" title="Commit map" style="display:none" class="scribe-dialog">
        <div class="dialog-content">
            <form>
                <div class="control-group">
                    <label>Git User</label>
                    <div class="control">
                        <input type="text" name="git-commit-user" id="git-commit-user" />
                    </div>
                </div>
                <div class="control-group">
                    <label>Git Password</label>
                    <div class="control">
                        <input type="password" id="git-commit-password"/>
                    </div>
                </div>
                <div class="control-group">
                    <label for="git-message">Message</label>
                    <div class="control">
                        <textarea id="git-message" class="long"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label>Logs</label>
                    <div class="control">
                        <textarea id="git-logs" class="git-logs" readonly></textarea>
                    </div>
                </div>
                <div id="git-commit-info">
                    * Special characters are not supported in the commit message.
                </div>
            </form>
        </div>
    </div>

    <div id="pullmap-form" title="Pull map" style="display:none" class="scribe-dialog">
        <div class="dialog-content">
            <form>
                <div class="control-group wide">
                    <label for="overwrite">Merge with local changes</label>
                    <div class="control">
                        <input type="radio" name="method" value="merge" checked>
                    </div>
                </div>
                <div class="control-group wide">
                    <label for="stash">Stash/Apply local changes</label>
                    <div class="control">
                        <input type="radio" name="method" value="stash">
                    </div>
                </div>
                <div class="control-group wide">
                    <label for="overwrite">Overwrite local changes</label>
                    <div class="control">
                        <input type="radio" name="method" value="overwrite">
                    </div>
                </div>
                <div class="control-group">
                    <label>Git User</label>
                    <div class="control">
                        <input type="text" name="git-pull-user" id="git-pull-user" />
                    </div>
                </div>
                <div class="control-group">
                    <label>Git Password</label>
                    <div class="control">
                        <input type="password" name="git-pull-password" id="git-pull-password"/>
                    </div>
                </div>
                <div class="control-group">
                    <label>Logs</label>
                    <div class="control">
                        <textarea id="git-pull-logs" class="git-logs" readonly></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="clonemap-form" title="Clone map" style="display:none" class="scribe-dialog">
        <div class="dialog-content">
            <form>
                <div class="control-group">
                    <label>Name</label>
                    <div class="control">
                        <input type="text" name="git-clone-name" id="git-clone-name" />
                    </div>
                </div>
                <div class="control-group">
                    <label>Type</label>
                    <div class="control">
                        <select id="git-clone-type" class="newmap-template" class="shadow_select">
                            <option value="Scribe">Scribe</option>
                            <option value="Standard">Standard</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label>Git URL</label>
                    <div class="control">
                        <input type="text" name="git-clone-url" id="git-clone-url" class="long"/>
                    </div>
                </div>
                <div class="control-group">
                    <label>Git User</label>
                    <div class="control">
                        <input type="text" name="git-clone-user" id="git-clone-user" />
                    </div>
                </div>
                <div class="control-group">
                    <label>Git Password</label>
                    <div class="control">
                        <input type="password" id="git-clone-password"/>
                    </div>
                </div>
                <div class="control-group">
                    <label>Description</label>
                    <div class="control">
                        <textarea id="git-clone-description" class="newmap-description"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label>Logs</label>
                    <div class="control">
                        <textarea id="git-clone-logs" class="git-logs" readonly></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="edit-line" style="display:none">
        <textarea id="edit-line-content" value=""></textarea>
    </div>

    <div id="get-feature-info" style="display:none"><pre></pre></div>

{% endblock body %}
